*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: antiquewhite;
}

.container{
    width: 100vw;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoList{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.listitems{
    display: flex;
    justify-content: left;
    width: 18rem;
    padding-top: 15px;
}

ul li {
    padding-bottom: 5px;
}

ul button{
    margin-left: 20px; 
    background-color: rgb(206, 73, 73);
    border-radius: 5px;
    color: white;
}

.listheading > h1 {
    font-size: 4rem;
    padding-bottom: 10px;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 21rem;
}
.input input{
    width: 80%;
    height: 2.1rem;
    border-radius: 5px;
}

.input button{
    background-color: rgb(235, 200, 154);
    border-radius: 5px
}